<h1>// {{appData.name}} INFORMATION FOUND</h1>


<div class="flex">
	<div class="leftFlex">
		<img src="/images/{{appData.img}}" alt="{{appData.name}} image">
		<h3>// {{appData.name}} DESCRIPTION BELOW::</h3>
		<p>{{appData.desc_txt}}</p>
	</div>

	<div class="rightFlex">
		<img src="/images/{{appData.img_2}}" alt="{{appData.name}} secondary image">
		<h3>I personally award this app: {{appData.rating}} stars!</h3>
	</div>
</div>


<a href="/" class="goBack">
  <i class="fas fa-backward"></i>
</a>